@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

header { 
    font-family: 'Staatliches', sans-serif;
    letter-spacing: 1px;
}

.header__donate-button {
    letter-spacing: 2px;
    font-size: 1.15rem;
}

h1, h2, h3, h4, h5, h6, .title-font {
    font-family: 'Staatliches', sans-serif;
}

footer h2 {
    letter-spacing: 1px;
}